.offpuce li{
list-style: none;

}
.cent{
display: table;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-size: 4em;
}

#base {
    text-align: left;
    font-family: Vivaldi;
    font-size: 2em;
}
